body {
    background-color: var(--cor-principal-dark);
}

main {
    width: 100vw;
}

section.div-centralizada_vertical {
    align-items: center;
}

.atletas {
    width: 100vw;
    flex-wrap: wrap;
}

.atleta {
    min-width: 280px;
    height: 350px;
    margin: 20px;
    text-align: center;
    border: 2px solid var(--cor-secundaria);
    border-radius: 5px;
}

.atleta.div-centralizada_vertical {
    justify-content: space-between;
}

.atleta .container-img_atleta {
    height: 80%;
}

.container-img_atleta {
    justify-content: flex-end;
}

.atleta img {
    width: 100%;
    max-width: 350px;
    height: 250px;
}

.atleta-info {
    background-color: var(--cor-secundaria);
    height: 20%;
    width: 100%;
}

.atleta h2 {
    margin: 8px 0px;
    color: var(--cor-principal);
}

.atleta h3 {
    color: var(--cor-principal-dark);
}