* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
}

:root {
    --cor-principal: #1780D3;
    --cor-principal-dark: #233F54;
    --cor-secundaria: #FFFF01;
    --cor-secundaria-dark: #CCCC00;
    --cor-terciaria: #000000;
}

html, body {
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: 100vh;
}

/* Estilizações gerais */

.div-centralizada_horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-centralizada_vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
}

/* Estilizações do header e sua tags */  

header.div-centralizada_horizontal {
    justify-content: space-between;
    width: 100vw;
    height: 80px;
    padding: 0px 20px;
    margin-bottom: 40px;
    background-color: var(--cor-principal);
}

.logo-header {
    height: 64px;
    width: 64px;
}

.logo-header img {
    width: 100%;
}

nav {
    display: none;
    flex-direction: column;
    position: fixed;
    width: 80vw;
    height: 100vh;
    right: 0;
    top: 0;
    padding: 20px;
    background-color: var(--cor-principal-dark);
}

nav a {
    color: var(--cor-secundaria);
}

nav .fechar-menu {
    font-size: 30px;
    margin-bottom: 50px;
    align-self: flex-end;
}

.fechar-menu i {
    cursor: pointer;
    color: #fff;
}

.fechar-menu i:hover {
    color: var(--cor-principal);
    transition: all 0.2s linear;
}

nav ul {
    display: flex;
    flex-direction: column;
    width: 60vw;
}

nav li {
    font-size: 24px;
    width: inherit;
}

nav li:not(:last-child) {
    margin-bottom: 30px;
}

nav a {
    display: block;
    width: inherit;
}

.menu {
    justify-content: space-between;
    height: 40px;
    width: 50px;
    cursor: pointer;
}

.linha-menu {
    width: 100%;
    height: 5px;
    background-color: #fff;
}

/* Estilizações do main e suas tags */

/* Section tabela de classificação */

table {
    width: 90vw;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    width: 70px;
    border: 1px solid var(--cor-terciaria);
    padding: 5px;
}

.td-logo_equipe img{
    width: 32px;
    height: 32px;
}

/* Section rodadas */

section {
    width: 100vw; 
    margin-bottom: 40px;
}

.rodadas.div-centralizada_vertical {
    align-items: flex-start;   
}

section h2 {
    align-self: center;
    margin-bottom: 20px;
    color: var(--cor-principal-dark);
}

.jogos.div-centralizada_horizontal {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 600vw;
    overflow: hidden;
}

.partidas {
    width: 100vw;
}

.calendario.div-centralizada_horizontal {
    justify-content: space-between;
    width: 100vw;
    align-self: flex-start;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0px;
}

.calendario.div-centralizada_horizontal .mudar-data {
    width: 80px;
    padding: 15px;
    font-size: 25px;
    cursor: pointer;
}

.mudar-data:hover {
    color: var(--cor-principal);
    transition: all 0.2s linear;
}

.partidas:first-child .fa-arrow-left,
.partidas:last-child .fa-arrow-right{
    color: #ccc;
}
 
.partida {
    border-bottom: 1px solid #ccc;
    padding: 20px 0px;
}

.partida .n-rodada {
    margin-bottom: 20px;
}

.resultados.div-centralizada_horizontal {
    width: 100%;
    justify-content: space-evenly;
}

.time input {
    width: 35px;
    height: 35px;
    border: 2px solid #bbb;
    border-radius: 3px;
    padding-left: 5px;
    margin: 0px 20px;
    outline: 0;
    background-color: #fff;
}

.time img {
    width: 50px;
    height: 50px;
}

.partida .enviar {
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    background-color: var(--cor-principal);
    cursor: pointer;
}

/* Section mapa */
.mapa {
    width: 100%;
}

/* Section times */ 

.container-equipes {
    width: 100vw;
    flex-wrap: wrap;
}

.equipe { 
    width: 100%;
    max-width: 350px;
    border-bottom: 2px solid #ccc;
}

.equipe:not(:first-child),
.equipe:not(:last-child) {
    margin: 0px 0px 40px 0px;
}

.equipe img {
    width: 100%;
    height: 350px;
}



